# dev используется по умолчанию. Для uat укажите все три адреса.
TEST_ENV=dev
UAT_WEB_URL=
UAT_AUTH_API_URL=
UAT_MOVIES_API_URL=

# Адрес удалённого WebDriver для UI-тестов.
SELENOID_URL=http://localhost:4444/wd/hub
